
.form_container{
  width: 350px;
  height: 350px;
  margin: 0 auto;
  margin-top: 5%;
}

.form_container .form{
  text-align: center;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 0 40px 25px 40px;
  margin-bottom: 30px;
}

.form .expl{
  font-size: 17px;
  text-align: center;
  color: #969696;
  font-weight: 600;
}

.form .title {
  overflow: hidden;
  text-indent: 110%;
  margin: 22px auto 8px;
}

/* .form label{
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 13px;
  float: left; 
  width: 30%;
  color:#5b5b5b;
} */

.form .line{
  border: 0.5px solid #bbbbbb;
}

.form .line2{
  border: 0.5px solid #bbbbbb;
}

/* 
.form input{
  width: 100%;
  background: 0 0;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #444444;
  font-size: 13px;
  padding: 7px 8px 7px;
} */

.login_user_gender{
  float:left;
  font-size:13px;
  color:#5b5b5b;
}

.login_user_email>input{
  width: 100%;
  background: 0 0;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #444444;
  font-size: 13px;
  padding: 7px 8px 7px;
}

.login_user_password>input{
  width: 100%;
  background: 0 0;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #444444;
  font-size: 13px;
  padding: 7px 8px 7px;
}


.login_user_name>input{
  width: 100%;
  background: 0 0;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #444444;
  font-size: 13px;
  padding: 7px 8px 7px;
}

.login_user_birth>input{
  width: 100%;
  background: 0 0;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #444444;
  font-size: 13px;
  padding: 7px 8px 7px;
}

.form p{
  margin-bottom: 10px;
}

.form .login_with_kakao{
  background: #fde039;
  border-color: #fde039;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  outline: none;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
}


.form .login_with_E-mail{
  background: #58ff66;
  border-color: #58ff66;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  outline: none;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
}

.form .submit_btn{
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  outline: none;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
}

.bottom_box{
  text-align: center;
  font-weight: 555;
  /*height: 290px;*/
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 20px 40px 25px 40px;
  /*display: flex;*/
  align-items: center;
}